.home-page {
    min-height: 100%;
}

.search-and-nav {
    background: #ffbf69;
    padding-bottom: 13rem;
}

@media (max-width: 450px) {
    .search-and-nav {
        background: #ffbf69;
        padding-bottom: 8rem;
    }
}

.main-title {
    color: #000000;
    font-weight: bold;
}

/*
 * Header
 */

.nav-section {
    margin-top: 0.5rem;
    margin-bottom: 10rem;
    display: inline-block;
    left: 0;
}

/*
 * About Us
 */

.about-us {
    color: #000000;
    padding-top: 10rem;
    padding-bottom: 22rem;
    background: #fafafa;
}

.about-us-subtitle {
    font-weight: bolder;
    margin-bottom: 1.8rem;
}
