.bizcard-card {
    transition: all 350ms ease;
    font-size: 0.9rem;
}

.biz-img {
    max-height: 12.6rem;
    max-width: 12.6rem;
}

.external-anchor {
    color: #6c757d;
    font-size: 0.8rem;
}
.external-anchor:hover {
    color: black;
}

.review-subsection {
    display: table;
    height: 4.3rem;
    padding-left: 4%;
    padding-right: 5%;
}

.biz-address {
    display: inline-block;
    padding: 0.2rem 0.8rem;
    margin-bottom: 0.5rem;
    text-align: center;
    border-radius: 5px;
    background-color: #f9f7f7;
    font-size: 0.8rem;
}

.open-tag {
    color: #049c02 !important;
    font-weight: bold;
}
.closed-tag {
    color: red !important;
    font-weight: bold;
}

.save-button {
    display: inline-block;
    padding: 0 0.4rem;
    font-size: 0.8rem;
}

.review-site-url {
    display: inline-block;
    margin-right: 0.5rem;
}

.review-subsection-hr {
    margin: 0;
    background-color: darkgrey;
}

.rating-score {
    font-size: 0.9rem;
    display: inline-block;
    margin-right: 0.3rem;
    border-radius: 5px;
    color: black;
}

.review-count {
    display: inline-block;
    font-size: 0.7rem;
}

/* YELP Info section */
.yelp-rating-img {
    display: inline-block;
}
.yelp-rating {
    display: inline-block;
}
.yelp-star {
    height: 17px;
}

/* GOOGLE Info section */

.google-rating-img {
    color: darkorange;
    display: inline-block;
}

.facebook-rating-error {
    font-size: 0.85rem;
}
.review-left-col {
    display: inline-block;
    min-width: 4.6rem;
}
