.BizResults {
	background: #eeeeee;
}

.navbar {
	background: #00adb5;
}
.navbar-brand {
	color: #eeeeee;
	font-size: 1.5rem;
}

.bizResults-hr {
	width: 60%;
	border: none;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
}

.loader-spinner{
	margin: 3rem 50%;
}

.mid-section {
	position: relative;
	background: #eeeeee;
	width: 100%;
	height: 100%;
	padding-top: 4rem;
}

.page-title-content {
	padding: 1.5rem 10rem;
	padding-bottom: 0.1rem;
	margin: 0;
}

.term-title {
	font-weight: bold;
	color: #222831;
}

.location-title {
	font-weight: normal;
	font-size: 1.5rem;
	color: #393e46;
}

.card-results {
	padding-top: 2rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.footer-section {
	position: absolute;
	bottom: 0;
	width: 100%;
}