.search-and-nav{
	background: #00adb5;
	padding-top: 1.5rem;
	padding-left: 15rem;
	padding-right: 15rem;
	padding-bottom: 10rem;
}

.main-title {
	color: #222831
}

/*
 * Header
 */

.nav-section {
	margin-top: 0.5rem;
	margin-bottom: 10rem;
	display: inline-block;
	left: 0;
}

/*
 * Search Form
 */

.form-signin .form-control:focus {
  z-index: 2;
}

.home-page-form {
	margin-top: 3.5rem;
}

.search-button {
	background: #222831;
	margin: 0 auto;
	margin-top: 2rem;
}

/*
 * About Us
 */

 .about-us {
	color: #222831;
	padding-top: 10rem;
	padding-left: 15rem;
	padding-right: 15rem;
	padding-bottom: 10rem;
	background: #eeeeee;
 }

 .sub-header {
	 color: #393e46;
	 margin-bottom: 1.8rem;
 }

.sub-paras {
	 line-height: 1.75;
	 font-size: 1.3rem;
 }
