.bundo-navbar {
    background: #ffbf69;
}

.home-link {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.home-link:hover {
    color: rgb(90, 90, 90);
}

.search {
    display: inline-block;
    width: 50%;
}

.simple-navlink {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

.simple-navlink:hover {
    color: #565656;
}
