.bundo-navbar {
    background: #ffbf69;
    height: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.home-link {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.home-link:hover {
    color: rgb(90, 90, 90);
}

.search {
    display: inline-block;
    width: 50%;
}
