.search-results {
	background: rgb(255, 249, 241);
}

.search-results-main {
	width: 100%;
	min-height: 150vh;
	padding-top: 7rem;
	padding-bottom: 19rem;
}

.subtitle-hr {
	width: 60%;
	border: none;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); 
}

.results-subtitle {
	padding: 0 10rem;
	padding-bottom: 0.1rem;
	margin: 0;
}

.term-subtitle {
	font-weight: bold;
	color: #222831;
}

.location-subtitle {
	font-weight: normal;
	font-size: 1.5rem;
	color: #393e46;
}

.card-results {
	padding-top: 2rem;
	padding-left: 5rem;
	padding-right: 5rem;
}