.signup-user{
	display: inline-block;
	padding: .25rem .3rem;
	margin-left: 1rem;
	color: #eeeeee;
	background-color: transparent;
	font-weight: 700;
	border-bottom: .2rem solid #eeeeee;
}

.signup-user:hover{
	color: #fff;
	border-bottom-color: #fff;
	text-decoration: none;
}

.hidden{
	visibility: hidden;
}

button.signup-user {
	border: transparent;
	border-bottom: .2rem solid #eeeeee;
}

